<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Permanent Employee Details</h1>
    <ul>
        <li><a href="/emp/pemp/E001">E001</a></li>
        <li><a href="/emp/pemp/E002">E002</a></li>
        <li><a href="/emp/pemp/E003">E003</a></li>
        <li><a href="/emp/pemp/E004">E004</a></li>
        <li><a href="/emp/pemp/E005">E005</a></li>
    </ul>
</body>
</html>